{% load static %}

<footer class="footer">
  <div class="footer-box">
    <br />
    <br />
    <br />
    <div class="main-logo-footer">
      <a class="main-logo-footer-a" href="./index.html">
        <div class="main-logo-footer-img" alt=""></div>
      </a>
    </div>
    <div class="loremtxt">
      <h3 class="lorem">
        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
        از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و
        سطرآنچنان که لازم است
      </h3>
    </div>
    <div class="links">
      <div class="last_article">
        <ol id="articles-list"></ol>
      </div>

      <div class="buy-web">
        <ol>
          <li class="head">
            <div class="title title-edited">خرید از سایت</div>
          </li>
          <li class="links-kid">
            <a href="/about-us/"> روش استفاده از خدمات</a>
          </li>
          <li class="links-kid"><a href="/about-us/"> روش خرید محصولات</a></li>
          <li class="links-kid">
            <a href="/about-us/"> سوالات متداول خریدار</a>
          </li>
          <li class="links-kid">
            <a href="/products/detail/1/bbbbbbbbbbbbbbbb/"> محصول1</a>
          </li>
        </ol>
      </div>
      <div class="sell-web">
        <ol>
          <li class="head">
            <div class="title title-edited">فروش در سایت</div>
          </li>
          <li class="links-kid">
            <a href="/accounts/register/seller/"> ثبت نام تامین کننده</a>
          </li>
          <li class="links-kid">
            <a href="/accounts/login/"> ورود تامین کننده</a>
          </li>
          <li class="links-kid">
            <a href="/about-us/"> سوالات متداول تامین کننده</a>
          </li>
          <li class="links-kid"><a href="/about-us/"> آموزش فروش</a></li>
        </ol>
      </div>
      <div class="company-name">
        <ol>
          <li class="head">
            <div class="title title-edited">با نام شرکت</div>
          </li>
          <li class="links-kid"><a href="/about-us/"> درباره ما</a></li>
          <li class="links-kid"><a href="/contact-us/"> تماس با ما</a></li>
          <li class="links-kid"><a href="/about-us/"> قوانین و مقررات</a></li>
          <li class="media">
            <div class="medialogo">
              <a href="#">
                <div class="facebook-icon" alt=""></div>
              </a>
            </div>
            <div class="medialogo">
              <a href="#">
                <div class="instagram-icon" alt=""></div>
              </a>
            </div>
            <div class="medialogo">
              <a href="#">
                <div class="telegram-icon" alt=""></div>
              </a>
            </div>
            <div class="medialogo">
              <a href="#">
                <div class="whatsapp-icon" alt=""></div>
              </a>
            </div>
            <div class="medialogo">
              <a href="#">
                <div class="youtube-icon" alt=""></div>
              </a>
            </div>
          </li>
        </ol>
      </div>
    </div>
    <div class="red-line">
      <div class="div call">
        <div class="phone" alt=""></div>
        <p class="div-p">021-234324</p>
      </div>
      <div class="div loc">
        <div class="location" alt=""></div>
        <p class="div-p">آدرس</p>
      </div>
      <div class="div">
        <div class="message" alt=""></div>
        <p class="div-p">test@test.com</p>
      </div>
    </div>
    <div class="botlane">
      <div class="validation-logo">
        <a href="#"
          ><img class="valid-logo" src="{% static 'img/pic-15.png' %}" alt=""
        /></a>
        <a href="#"
          ><img class="valid-logo" src="{% static 'img/pic-16.png' %}" alt=""
        /></a>
        <a href="#"
          ><img class="valid-logo" src="{% static 'img/pic-17.png' %}" alt=""
        /></a>
      </div>
      <div class="application">
        <h3 class="application-text" id="h3">دانلود اپلیکیشن</h3>
        <div class="app-img">
          <a href="#"
            ><img class="applogo" src="{% static 'img/appstore.png' %}" alt=""
          /></a>
          <a href="#"
            ><img
              class="applogo"
              src="{% static 'img/googleplay.png' %}"
              alt=""
          /></a>
        </div>
      </div>
    </div>
    <div class="botlane-txt">
      <p class="text-center">حق چاپ © 2022 . تمامی حقوق محفوظ است.</p>
      <p class="dotweb">
        <a href="https://dotweb.ir/">Dotweb.ir</a> طراحی شده توسط
      </p>
    </div>
  </div>
</footer>

<script>
  $.ajax({
    url: '/api/articles/articles-list/',
    type: 'get',
    success: (response) => {
      let template = `
          <li class="head">
            <div class="title title-edited">آخرین مقالات</div>
          </li>
          
          `;

      [...response.results].forEach((article, key) => {
        if (key < 4) {
          const link = `/articles/${article.id}/${article.slug}/`;
          template += `
            <li class="links-kid">
              <a href="${link}">${article.title}</a>
            </li>
          `;
        }
      });

      $('#articles-list').html(template);
    },
  });
</script>
