{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--styles-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'style/register.css' %}" />
    <!-- <link rel="stylesheet" href="./asset/style/user_panel_style.css" /> -->
    <link rel="stylesheet" href="{% static 'style/new_style.css' %}" />
     <link rel="stylesheet" href="{% static 'style/message.css' %}" />


    <!--/styles-->
    <title>{{ title }}</title>
</head>

<body>
    <div class="main-content">

        <div class="login-box">
            <div class="login-main-icon"></div>
            <div class="bot-login">
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="login-border">
                        <h3 class="login-title">وارد شوید </h3>
                        <p>لطفا شماره تماس خود را وارد کنید</p>
                        <input class="login-inp" type="number" name="phone" id="" placeholder="09123213213">
                        <button class="login-btn">دریافت کد یکبار مصرف</button>
                    </div>
                </form>
                <p class="login-a">عضو سایت نیستید؟ همین حالا <a href="/accounts/register/user/">ثبت نام</a> کنید</p>
            </div>
        </div>

        {% if messages %}
            <div>
                {% for message in messages %}
                <div{% if message.tags %} onclick="message({{ message.tags }},{{ message }})" class="massage {{ message.tags }}"{% endif %}>
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}

    </div>

    <script src="{% static 'js/message.js' %}"></script>


</body>


</html>